
.sect6-text h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #FFFFFF;
}

.sect6-text p{
font-weight: 500;
font-size: 24px;
line-height: 38px;
letter-spacing: 0.2px;
text-align: center;
color: #FFFFFF;
}

.btn-playstore{
    width: 142px;
height: 64px;
gap: 10px;
padding-top: 18px;
padding-right: 31px;
padding-bottom: 18px;
padding-left: 31px;
border-radius: 10px;
font-weight: 700;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.2px;
border: 1px solid #FFFFFF;
color: #FFFFFF;
background-color: transparent;
}

.btn-appstor{
    width: 142px;
    height: 64px;
    gap: 10px;
    padding-top: 18px;
    padding-right: 31px;
    padding-bottom: 18px;
    padding-left: 31px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;

}

.btn-playstore:hover{
    background-color: #FA4A0C;
}

.btn-appstor:hover{
    background-color: #FA4A0C;
}

.section6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.sect6-button{
    display: flex;
    align-items: center;
    gap: 16px
    ;
}