
.sect5-right-p1{
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.1px;
color: #FA4A0C;
}

.sect5-right h3{
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
width: 559px;
margin-top: 30px;
margin-bottom: 30px;
}

.sect5-right-p2{
font-weight: 500;
font-size: 24px;
line-height: 38px;
letter-spacing: 0.2px;
color: #737373;
}

.section5{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
